{% extends 'base.html' %}
{% load static %}
{% block title %}
  About-HealthForecast
{% endblock %}

{% block body %}
  <section class="section-padding" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <h2 class="mb-lg-3 mb-3">About Us</h2>

          <p>Welcome to our revolutionary platform dedicated to improving your health and well-being. At HealthForecast, we harness the power of cutting-edge machine learning technology to provide personalized predictions for diabetes and heart attack risks. Our mission is to empower individuals with actionable insights, enabling early detection and proactive preventive measures.</p>

          <p>
            With our user-friendly interface and accurate results, you can take control of your health journey like never before. Join us today and embark on a path towards a healthier future.
          </p>
        </div>

        <div class="col-lg-4 col-md-5 col-12 mx-auto">
          <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
            <p class="featured-text">
              <span class="featured-number">HealthForecast</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
